/*
---------------------------------------------------------------------------------
    STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com
                        (matt brown)
---------------------------------------------------------------------------------
*/

.msg {
  padding: 10px;
  background: #222;
  position: relative;
}

.msg h1 {  color: #fff }

.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}

.msg a:hover {  background: #266400 }

html {
  height: 100% ! important;
  background: url('../images/low_contrast_linen.png');
}

/* //-- yui-grids style overrides -- */

body {
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  color: #444;
}

.yui-gf {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.yui-gf div.first {  width: 12.3% }

.yui-gf .yui-u {  width: 80.2% }

/* //-- header, body, footer -- */

header {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}

header h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

article,
footer {  margin-bottom: 2em }

footer p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- footer -- */

footer {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* //-- core typography and style -- */

h2 {  font-size: 152% }

h3,
h4 {  font-size: 122% }

h1,
h2,
h3,
h4 {  color: #333 }

p {
  font-size: 100%;
  line-height: 18px;
}

a {  color: #990003 }

a:hover {  text-decoration: none }

strong {  font-weight: bold }

li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

p.enlarge {
  font-size: 144%;
  line-height: 24px;
}

.contact-info {
  margin-top: 7px;
  text-align: right;
  font-size: 12px;
  position: relative;
  float: left;
  width: 100%;
}

.contact-info img {
  float: right;
  border: 1px solid #ccc;
  width: 140px;
  height: 140px;
  margin: -24px 0 14px;
  border-radius: 3px;
}

.contact-info a {
  position : relative;
  float: left;
  width: 100%;
}

.first h2 {  font-style: italic }

.last {  border-bottom: 0 }

/* //-- section styles -- */

#pdf {
  display: block;
  float: left;
  background: #666;
  color: #fff;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}

#pdf:hover {  background: #222 }

.org,
.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.org h3,
.job h3 {
  font-size: 100%;
}

.org h4,
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}

.org a,
.job a {
  border: none;
  text-decoration: none;
}

.org p,
.job p {
  margin: 0.75em 0 3em 0;
  font-size: 122%;
}

.last {  border: none }

.talent {
  width: 32%;
  float: left;
}

.talent h2 {  margin-bottom: 6px }

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}

#srt-ttab img.last {  margin-top: 20px }

/* --// override to force 1/8th width grids -- */

#username {
  position: relative;
  float: left;
  height: 30px;
  width: 75%;
  border: 2px solid #444;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  color: #444;
  font-size: 18px;
  padding: 5px;
}

#gen {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 20%;
  height: 44px;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #fff;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.21, rgb(31,31,31)), color-stop(0.61, rgb(51,51,51)) );
  background-image: -moz-linear-gradient( center bottom, rgb(31,31,31) 21%, rgb(51,51,51) 61% );
  border: 1px solid #444;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#gen:hover {  cursor: pointer }

.yui-gb {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.enlarge-medium {  font-size: 15px }

.yui-gb ul {  width: 80% }

noscript {
  display: block;
  margin-top: 30px;
  font-size: 152%;
  color: #990003;
}

#actions {
  padding: 30px 0 40px 0;
  margin: 0 auto 0 auto;
  width: 73.076em;
}

#actions a {
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  margin-left: 1em;
}

#actions * {  float: right }

#doc {
  margin-top: 70px;
  background: #f5f5f5;
  padding: 25px 107px 0px 107px;
}

#doc2 {  padding-bottom: 70px }

.contributions {
  padding-bottom: 10px;
}

@media screen and (max-width: 59.9em) {
  #inner {
    padding: 5 5 5 5;
    margin: 0 auto;
    background: #f5f5f5;
    border: solid #666;
    border-width: 8px 0 2px 0;
    box-shadow: 0 1px 3px #000;
  }
  header h1 {
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  header h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  #doc2 {
    width: 100%;
    padding-bottom: 1em;
  }
  #actions{
    display: none;
  }

  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.5em;
  }
  p.enlarge {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  li {
    line-height: 1.6em;
  }
  h3, h4{
    font-size: 1.3em;
  }
  p{
    font-size: 1.2em;
    line-height: 1.1em;
  }
  .org p, .job p {
    margin: 0.75em 0 1.5em 0;
  }
  .first h2, .first h1{
    padding-left: 0.5em;
  }

  .yui-gf div.first {
    width: 20%;
  }

  .yui-gf .yui-u {  width: 80% }

}

@media screen and (min-width: 60em) {
  #inner {
    padding: 10px 80px;
    margin: 0 auto;
    background: #f5f5f5;
    border: solid #666;
    border-width: 8px 0 2px 0;
    box-shadow: 0 1px 3px #000;
  }
}
