<div id="doc" class="yui-t7">
   <div id="hd" role="banner"><h1>Uh oh :(</h1></div>
   <div id="bd" role="main">
    <div class="yui-g">
        <p>
           We couldn't find enough to build a r&eacute;sum&eacute; from. Make sure this is the good username :-). <a href="/" title="Home">Try again with another username?</a>
        </p>
    </div>

    </div>
   <div id="ft" role="contentinfo"><p>Brought to you by the brilliant mind of <a href="http://twitter.com/davidcoallier">@davidcoallier</a> &lt;/modesty&gt; &mdash; Resume Template from <a href="http://thingsthatarebrown.com/blog/2009/05/sample-resume-template/">Things That Are Brown</a></p></div>
</div>
