<div id="doc" class="yui-t7">
   <div id="hd" role="banner"><h1>Uh oh :(</h1></div>
   <div id="bd" role="main">
    <div class="yui-g">
        <p>
           There was an issue accessing the requested profile to auto-generate this r&eacute;sum&eacute;. <a href="https://github.com/{{{username}}}" title="Github profile">Access the user's profile directly.</a>
        </p>
    </div>

    </div>
   <div id="ft" role="contentinfo"><p>Brought to your by the brilliant mind of <a href="http://twitter.com/davidcoallier">@davidcoallier</a> &lt;/modesty&gt;</p></div>
</div>
