<div id="doc" class="yui-t7">
  <header role="banner"><h1>Uh oh :(</h1></header>
  <article role="main">
    <div class="yui-g">
      <p>
        There was an issue accessing the requested profile to auto-generate this r&eacute;sum&eacute;. <a href="https://github.com/{{username}}" title="GitHub profile of {{username}}">Access the user's profile directly.</a>
      </p>
    </div>
  </article>
  <footer role="contentinfo"><p>Brought to you by the brilliant mind of <a href="https://twitter.com/davidcoallier">@davidcoallier</a> &lt;/modesty&gt; &mdash; Resume Template from <a href="http://thingsthatarebrown.com/blog/2009/05/sample-resume-template/">Things That Are Brown</a></p></footer>
</div>
