<div id="doc" class="yui-t7">
   <div id="hd" role="banner"><h1>My GitHub R&eacute;sum&eacute;</h1></div>
   <div id="bd" role="main">
    <div class="yui-g">
        <p class="enlarge-medium">
            As a software startup owner I really enjoy when people send us their
            r&eacute;sum&eacute;s and they include their github account so we can see tangible work they have done. 
        </p>
        <p><br /></p>
        <p class="enlarge-medium">
            After a <a href="https://twitter.com/#!/jeresig/status/33968704983138304">tweet by John Resig</a>
            I imagined that it may be nice for people to be able to generate their <a href="https://github.com" title="GitHub">GitHub</a> r&eacute;sum&eacute;s.
        </p>
        <p><br /><br /></p>

        <form id="run" action="." method="get">
            <p>
                <input id="username" type="text" placeholder="Enter your github username and click on generate" />
                <button type="submit" id="gen">Generate</button>
            </p>
        </form>

    </div>

    <div class="yui-g">
        <p><br /><br /></p>
        <h2>See some popular users</h2>
        <div class="yui-gb">
            <ul>
                <li><a href="/?mxcl" title="Max Howell">Max Howell</a></li>
                <li><a href="/?mojombo" title="Tom Preston-Werner">Tom Preston-Werner</a></li>

                <li><a href="/?madrobby" title="Thomas Fuchs">Thomas Fuchs</a></li>
                <li><a href="/?paulirish" title="Paul Irish">Paul Irish</a></li>
                <li class=""><a href="/?michaeldv" title="Michael Dvorkin">Michael Dvorkin</a></li>
            </ul>
        </div>
        <div class="yui-gb">
            <ul>
                <li><a href="/?mislav" title="Mislav Marohnić">Mislav Marohnić</a></li>
                <li><a href="/?justinfrench" title="Justin French">Justin French</a></li>
                <li><a href="/?ry" title="Ryan Dahl">Ryan Dahl</a></li>
                <li><a href="/?joshuaclayton" title="Joshua Clayton">Joshua Clayton</a></li>
                <li class=""><a href="/?defunkt" title="Chris Wanstrath">Chris Wanstrath</a></li>
            </ul>
        </div>
        <br />
    </div>

    <div class="yui-g last">
        <div class="yui-main">
            <br /><br />
            <h2>Notes, Information and Future features</h2>
            <p class="enlarge-medium"><br />
            This is the first version. I am planning on adding
            things as such as your most committed forks, most committed repositories and make the "My Popular Repositories" be built from
            your complete list of repositories. Feel free to <a href="https://github.com/resume/resume.github.com">fork the page</a> if you want to help :-)
            <br /><br />
            </p>
        </div>

    </div>

   <div id="ft" role="contentinfo"><p>Brought to you by the brilliant mind of <a href="http://twitter.com/davidcoallier">@davidcoallier</a> &lt;/modesty&gt; &mdash; R&eacute;sum&eacute; Template from <a href="http://thingsthatarebrown.com/blog/2009/05/sample-resume-template/">Things That Are Brown</a></p></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('form#run').submit(function(e){
        var genUser = $('#username').val();
        document.location = document.location.pathname + "?" + genUser;
        e.preventDefault();
    });
});
</script>
