<div class="job {{last}}">
	<h2>
	  <a href="http://github.com/{{username}}/{{name}}">{{name}}</a>
	</h2>
	<h3>{{#language}}{{language}} - {{/language}}Creator &amp; Owner</h3>
	<h4>{{date}}</h4>
	<p>{{description}}</p>
	<p>
		This repository has {{watchers}} {{watchersLabel}} and {{forks}} {{forksLabel}}.
		If you would like more information about this repository and my 
		contributed code, please visit 
		<a href="https://github.com/{{username}}/{{name}}">the repo</a> on 
		GitHub.
	</p>
</div>


