<div id="doc" class="yui-t7">
  <header role="banner"><h1>This user hasn't opted in</h1></header>
  <article role="main">
    <div class="yui-g">
      <p>This user has <strong>not</strong> opted in to this unofficial GitHub résumé service.</p>
      <br />
      <p>If you would like to opt-in, simply go to our <a href="https://github.com/resume/resume.github.com">GitHub Project</a> page and <strong>star</strong> the project.</p>
    </div>
  </article>

  <footer role="contentinfo"></footer>
</div>
