<div id="doc" class="yui-t7">
   <div id="hd" role="banner"><h1>This user hasn't opted in</h1></div>
   <div id="bd" role="main">
    <div class="yui-g">
        <p>This user has <strong>not</strong> opted in to this unofficial GitHub résumé service.</p>
        <br />
        <p>If you would like to opt-in, simply go to our <a href="http://github.com/resume/resume.github.com">GitHub Project</a> page and <strong>star</strong> the project.</p>
    </div>
   </div>

   <div id="ft" role="contentinfo"></div>
</div>
