<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<hgroup>
						<h1>{{name}}</h1>
						<h2>Github organization</h2>
					</hgroup>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						{{#gravatar_id}}
						<img src="{{avatar_url}}" alt="avatar" class="photo"/>
						{{/gravatar_id}}
						{{#email}}<h3><a href="mailto:{{email}}">{{email}}</a></h3>{{/email}}
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Github Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								 We are a group of developers 
								 {{#location}}
								 based in {{location}}
								 {{/location}}
								 {{#repos}} 
                 with <a href="https://github.com/{{{username}}}?tab=repositories">{{repos}} public {{reposLabel}}</a>
                 {{/repos}}
                 {{#followers}}&nbsp;and <a href="https://github.com/{{{username}}}/followers">{{followers}} {{followersLabel}}</a>{{/followers}}.
				 We created this GitHub group in {{since}}{{#earlyAdopter}}, therefore we're early adopters,{{/earlyAdopter}}{{#website}}&nbsp;and you can find more information about us at <a href="{{website}}" id="mywebsite" title="my website">{{website}}</a>{{/website}}.
							</p>
							<p id="languages" class="enlarge"></p>
						</div>
					</div><!--// .yui-gf -->
                    <div class="yui-gf" id="mylanguages"> 
                        <div class="yui-u first">
                            <h2>Languages</h2>
                        </div>
                        <div class="yui-u" id="content-languages">
                            
                        </div>
                    </div>
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Our Popular Repositories</h2>
						</div><!--// .yui-u -->

						<div class="yui-u" id="jobs">
                            <span>Loading information...</span><img src="images/loader.gif" />
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>About This R&eacute;sum&eacute;</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								This r&eacute;sum&eacute; is generated automatically using information from github. The repositories are
								ordered by popularity based on a very simple popularity heuristic that defines the popularity of a repository
								by its sum of watchers and forks. Do not hesitate to visit <a href="https://github.com/{{{username}}}" title="My Github page">our github group's page</a>
								for more information about our repositories and work.
							</p>
						</div>
					</div><!--// .yui-gf -->
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>{{name}} &mdash; {{#email}}<a href="mailto:{{email}}">{{email}}</a> &mdash; {{/email}} <a href="https://github.com/{{username}}" title="Github profile">https://github.com/{{username}}</a></p>
		</div><!--// footer -->

	</div><!-- // inner -->

</div><!--// doc -->
